<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
...
<div th:fragment="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel mi tincidunt, commodo sem in, aliquet tortor. Proin at posuere purus. Quisque sodales tempor orci, nec feugiat quam pulvinar non. Phasellus gravida sed libero et hendrerit. Aenean lorem magna, iaculis id enim at, ullamcorper convallis elit. Cras eget risus vel lorem eleifend semper. Nulla sagittis porta mi et sodales. Nullam tincidunt ex id efficitur rhoncus. In ac fermentum felis. Vestibulum ullamcorper consequat ipsum, eget mollis urna viverra a. Suspendisse ac lectus tempor justo luctus vulputate eget at ipsum. Pellentesque convallis accumsan scelerisque. Ut blandit, libero ac bibendum bibendum, quam tortor eleifend orci, at suscipit lorem risus nec felis.
    Ut semper felis non vulputate finibus. Fusce sed blandit sapien, in pellentesque elit. Nulla facilisis volutpat nisl ac egestas. Duis semper dolor ut molestie ullamcorper. Donec sodales maximus justo, vel mollis ex dictum sed. Suspendisse consectetur erat ut mauris hendrerit, non dapibus nunc mollis. Donec at facilisis dolor. Mauris risus urna, pharetra at orci eget, euismod eleifend nisl. Nam non sem id sem feugiat ultricies. Vestibulum ullamcorper, mauris et viverra porttitor, dui tortor sodales sapien, eu dictum risus risus quis metus. Ut in orci nec odio semper efficitur. Quisque fringilla, ligula a sagittis venenatis, mauris velit congue augue, et dictum risus dolor sit amet lectus. In aliquet varius ex in consequat. Fusce sit amet pharetra quam. Fusce non ligula sed lectus euismod placerat id id tellus.
</div>
</body>
</html>